language: java
jdk:
  - oraclejdk8
  - oraclejdk7
before_install:
  - sudo apt-get update -q
  - sudo add-apt-repository ppa:texlive-backports/ppa -y
  - sudo apt-get -y --force-yes --no-install-recommends install texlive-latex-base texlive-latex-recommended
  # necessary for launch4j after Sep 2016
  - sudo apt-get install libc6:i386 libstdc++6:i386  
install: 
  - mvn package
before_script:
  - chmod 755 astrojournal.sh
script:
  - ./astrojournal.sh --console
