language: java
jdk:
  - oraclejdk8
  - oraclejdk7
addons:
    code_climate:
        repo_token: cb5fb32428c99a44a9b2fa1c9658f7bcb196790af95d58ff06fe4c3cd014d0de
before_install:
  - sudo add-apt-repository ppa:texlive-backports/ppa -y
  - sudo apt-get update -q
  - sudo apt-get --no-install-recommends install texlive-latex-base texlive-latex-recommended -y
install: 
  - mvn package
before_script:
  - chmod 755 astrojournal.sh
script:
  - ./astrojournal.sh --console
