Package: astrojournal
Version: 2.1.5
Section: misc
Priority: optional
Architecture: all
Depends: openjdk-7-jre, texlive-latex-base, texlive-latex-recommended
Maintainer: Piero Dalle Pezze <piero.dallepezze@gmail.com>
Distribution: unstable
Homepage: http://pdp10.github.io/AstroJournal/
Description: Generator of astronomy observation reports in LaTeX
 This software utility aims to generate structured documents from astronomy 
 observation reports created as basic tables. These tables are saved as .tsv 
 or .csv format files and imported by AstroJournal. Once imported, the program 
 will export this information by category (reports by date, by target, by 
 constellation) in PDF format using LaTeX.